html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

h3 {
    text-align: center;
}

.login {
    display: table-cell;
    vertical-align: middle;
}

.bi.bi-eye-slash {
    cursor: pointer;
}
