html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

<<<<<<< HEAD
h1 {
=======
h3 {
>>>>>>> 2c44d4ce75ed4d2d8aa8edd0c63d4c2f196b4b86
    text-align: center;
}

.login {
    display: table-cell;
    vertical-align: middle;
}

.bi.bi-eye-slash {
    cursor: pointer;
}
<<<<<<< HEAD
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button {
    outline: none;
    border: none;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-top: 18px;
    font-weight: bold;
    color: black;
  }
  input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

=======
>>>>>>> 2c44d4ce75ed4d2d8aa8edd0c63d4c2f196b4b86
