.header {
  color: #110481;
}

body {
  background-image: linear-gradient(90deg, #271f8c 0%, #909edb 50%, #271f8c 100%);
  text-align: center;
  font-family: Arial;
  width: 90%;
  margin-left: 5%;
}

.background {
  background: rgb(255,255,255,0.55);
  border-radius: 3px;
  box-shadow: 0px 0px 15px 2px #271f8c;
  padding: 5px;
}

.inputbox {
  height: 1.8em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 0px 2px 2px #271f8c;
}

input[type=submit] {
  width: auto;
  color: #e0ebeb;
  border-radius: 3px;
  background-color: rgb(39, 31, 140);
  border: 0px;
  height: 2.2em;
  font-size: 0.9em;
  cursor: pointer;
  opacity: .80;
}

.bottomlink {
  color: #110481;
}

.bi.bi-eye-slash {
  cursor: pointer;
}

#bgclogo{
  background-image: url("/Logos/BGC_Logo.png");
  width: 150px;
  height: 150px;
  box-shadow: 0 0 8px 8px rgb(39, 31, 140,0.40) inset;
  border-radius: 3px;
}

#dodlogo{
  background-image: url("/Logos/DeskonDemand.jpg");
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px 8px rgb(39, 31, 140,0.40) inset;
  margin-left:auto;
  margin-right:0;
  border-radius: 3px;
}

.images-child {
  width: 50%;
  float: left;
}  

input {
  padding: 4px 4px;
  margin: 2px 0;
  box-sizing: border-box;
}

label{
  width:80px;
  display:inline-block;
}
.booked{
  width:500px;
}

ul {
  list-style-type:none;
  padding: 0;
}

.tables {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  font-size: 18px;
}

.tables tr {
  border-bottom: 1px solid #ddd;
}

.tables tr.header, .tables tr:hover {
  background-color: #f1f1f1;
}

button {
  width: auto;
  color: #e0ebeb;
  border-radius: 3px;
  background-color: #271f8c;
  border: 0px;
  height: 2.2em;
  font-size: 0.9em;
  cursor: pointer;
  opacity: .80;
}

.ag-header-cell-label {
  justify-content: center;
}

.cubicle{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
  font-weight: normal;
}

.office{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.desk{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.boardroom{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.workstation{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

svg text{
  text-anchor: middle;
  dominant-baseline: middle;
  stroke-width: 0;
  fill:rgb(0,0,0);
  font-size: .8em;
}

/* tab style */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  color: rgb(0, 0, 0);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #6d6d6d;
}
td {
  border: 2px solid #6d6d6d;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
th {
  border: 2px solid #6d6d6d;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
  background-color: #ddd;
}

#workstationresults {
  column-count: 4;
}

.hiddenradio {
  display: none;
}
