.header {
  color: #110481;
}

body {
  background-image: linear-gradient(90deg, #271f8c 0%, #7a7abc 35%, #d5d6e9 100%);
  text-align: center;
  font-family: Arial;
  width: 80%;
  margin-left: 10%;
}

.background {
  background: #ffffff;
  opacity:55%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #271f8c;
  padding: 0;
  margin: auto;
}

.inputbox {
  height: 1.8em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 0px 2px 2px #271f8c;
}

input[type=submit] {
  width: auto;
  color: #e0ebeb;
  border-radius: 3px;
  background-color: #271f8c;
  border: 0px;
  height: 2.2em;
  font-size: 0.9em;
  cursor: pointer;
}

.bottomlink {
  color: #110481;
}

.bi.bi-eye-slash {
  cursor: pointer;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  padding: 4px 4px;
  margin: 2px 0;
  box-sizing: border-box;
}

label{
  width:80px;
  display:inline-block;
}
.booked{
  width:500px;
}

ul {
  list-style-type:none;
  padding: 0;
}

.tables {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  font-size: 18px;
}

.tables tr {
  border-bottom: 1px solid #ddd;
}

.tables tr.header, .tables tr:hover {
  background-color: #f1f1f1;
}

button {
  width: auto;
  color: #e0ebeb;
  border-radius: 3px;
  background-color: #271f8c;
  border: 0px;
  height: 2.2em;
  font-size: 0.9em;
  cursor: pointer;
}

.cubicle{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.office{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.desk{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.boardroom{
  fill:lightgrey;
  stroke-width:2;
  stroke:rgb(0,0,0);
}


/* tab style */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  color: rgb(0, 0, 0);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}