<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/mainCSS.css">
</head>
<body>
<h1>ADMIN PAGE</h1>
<form method="POST" action="/logout">
    <input type="submit" value="Log Out">
</form>
</body>
</html>