<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/mainCSS.css">
</head>
<body>
<h1>ADMIN PAGE</h1>
<form method="GET" action="/regularUser">
    <input type="submit" value="View as Regular User">
</form>
<form method="POST" action="/registerNew">
    <input type="submit" value="Create New User">
</form>
<form method="POST" action="/allDesks">
    <input type="submit" value="Manage Desks">
</form>
<form method="POST" action="/bookings">
    <input type="submit" value="Book Desks">
</form>
<form method="POST" action="/logout">
    <input type="submit" value="Log Out">
</form>
</body>
</html>