<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head>
  <body>
    <div class ="background">
    <br>
    <h1 class="header">Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <ul>
      <% if (messages.success_msg) { %>
        <li><%=messages.success_msg %></li>
      <% } %>
    </ul>
    <form method="GET" action="/users/admindash/manageUsers">
      <input type="submit" value="Manage Users">
    </form>
    <form method="GET" action="/desks/manageDesks">
      <input type="submit" value="Manage Desks">
    </form>
    <form method="get" action="/desks/bookDesks">
      <input type="submit" value="Book Desks">
    </form>
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br> 
  </body>
</html>
