<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workstations</title>
</head>
<body>

    <h1>Your Booked Workstations</h1>
    <h2>Cancel your booking</h2>
    <% bookedResults.forEach(function(r) { %>
    <ul>
        <li>
            <a href='/views/pages/bookinginfo/<%= r.uniqueid %>'><%= r.tableid %> Dates: <%= r.fromdate %> to: <%= r.todate %> </a>
        </li>
    </ul>

    <% }); %>
</body>
</html>