<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <h1>Error! Email already in use. Please Try again with a different email, reset your password, or contact an Administrato</h1>
        <form action="/register" method="GET">
            <input type="submit" value="Register">
        </form>  
        <script src="" async defer></script>
    </body>
</html>