<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <section id ="whiteBackground">
        <h1>EMAIL DUPLICATE</h1>
        <form action="/register" method="GET">
        <input type="submit" value="Register">
        </form>
    </section>
</body>
</html>