<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        <div class="images">
            <img src="/Logos/BGC_Logo.png">
            <br>
            <img src="/Logos/DeskonDemand.jpg" width="100px" >
        </div>
        
        <h1>Register</h1>

        <form id = "inputForm" form action="/register" method="POST">
            <div>
                <label for="fname">First Name</label>
                <input type="text" id="name" name="firstNameInput" required>
            </div>
            <div>
                <label for="lname">Last Name</label>
                <input type="text" id="name" name="lastNameInput" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="emailInput" required style="border:1px solid red;">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="passwordInput" minlength="8" maxlength="32" required>
            </div>
            <div>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirmPasswordInput" minlength="8" maxlength="32" required>
            </div>
            <p style="color:red;">Email is already in use</p>
            <button type="submit">Register</button>
            <button type="button"><a href="/login" style="text-decoration: none;">Login</a></button>
            
        </form>
        <script src="scripts.js" async defer></script>
    </body>
</html>