<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <section id ="whiteBackground">
        <h1>USERNAME AND OR PASSWORD INCORRECT OR DOES NOT EXIST</h1>
        <form action="/login" method="GET">
        <input type="submit" value="Login">
        </form>
    </section>
</body>
</html>