<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floor Plan</title>
</head>
<body>
  <div>
  <h1>SECOND FLOOR</h1>
  <svg class="floor" width="1000" height="525">
    <rect width="1000" height="525" style="fill:rgb(0, 255, 26);stroke-width:1;stroke:rgb(0,0,0)" />
    <svg class="empty">
      <rect x="320" width="680" height="325" style="fill:grey;stroke-width:1;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="breakroom">
      <rect width="320" height="100" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="13-208" y="100" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="12-208" y="160" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="10-208" y="290" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="9-208" y="350" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="8-208" x="35" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="7-208" x="85" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="6-208" x="160" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="5-208" x="210" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="4-208" x="285" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect  x="335" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="2-208" x="410" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="1-208" x="460" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office">
      <rect id="204" x="745" y="445" width="80" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="7-203" x="825" y="475" width="40" height="50" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="5-203" x="885" y="475" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="6-203" x="935" y="475" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rec id="3-203"t x="885" y="435" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="4-203" x="935" y="435" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="print">
      <rect id="212" x="235" y="100" width="85" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office">
      <rect id="211" x="235" y="175" width="85" height="70" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office">
      <rect id="210" x="235" y="245" width="85" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="boardroom">
      <rect id="207" x="235" y="325" width="85" height="80" style="fill:rgb(233, 228, 162);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office">
      <rect id="206" x="320" y="325" width="65" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="boardroom">
      <rect id="205" x="385" y="325" width="130" height="80" style="fill:rgb(233, 228, 162);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office">
      <rect id="202" x="745" y="325" width="80" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="1-203" x="825" y="325" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle">
      <rect id="2-203" x="940" y="325" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk">
      <rect id="1-209" x="95" y="120" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="2-209" x="145" y="120" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="3-209" x="95" y="160" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="4-209" x="145" y="160" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk">
      <rect id="5-209" x="95" y="220" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="6-209" x="145" y="220" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="7-209" x="95" y="260" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="8-209" x="145" y="260" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk">
      <rect id="9-209" x="95" y="320" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="10-209" x="145" y="320" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="11-209" x="95" y="360" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk">
      <rect id="12-209" x="145" y="360" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    </div>
  </svg>
</body>
</html>