<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floor Plan</title>
</head>
<body>
  <h1>SECOND FLOOR</h1>
  <svg class="floor" width="1000" height="525">
    <rect width="1000" height="525" style="fill:rgb(212, 212, 215);stroke-width:1;stroke:rgb(0,0,0)" />
    <svg class="breakroom">
      <rect x="320" width="680" height="325" style="fill:rgb(255, 255, 255);stroke-width:1;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="breakroom">
      <rect width="320" height="100" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="13-208">
      <rect y="100" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="12-208">
      <rect y="160" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="10-208">
      <rect y="290" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="9-208">
      <rect y="350" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="8-208">
      <rect x="35" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="7-208">
      <rect x="85" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="6-208">
      <rect x="160" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="5-208">
      <rect x="210" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="4-208">
      <rect x="285" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="3-208">
      <rect x="335" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="2-208">
      <rect x="410" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="1-208">
      <rect x="460" y="450" width="50" height="75" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office" id="204">
      <rect x="745" y="445" width="80" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="7-203">
      <rect x="825" y="475" width="40" height="50" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="5-203">
      <rect x="885" y="475" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="6-203">
      <rect x="935" y="475" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="3-203">
      <rect x="885" y="435" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="4-203">
      <rect x="935" y="435" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="print" id="212">
      <rect x="235" y="100" width="85" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office" id="211">
      <rect x="235" y="175" width="85" height="70" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office" id="210">
      <rect x="235" y="245" width="85" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="boardroom" id="207">
      <rect x="235" y="325" width="85" height="80" style="fill:rgb(233, 228, 162);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office" id="206">
      <rect x="320" y="325" width="65" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="boardroom" id="205">
      <rect x="385" y="325" width="130" height="80" style="fill:rgb(233, 228, 162);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="office" id="202">
      <rect x="745" y="325" width="80" height="80" style="fill:rgb(162, 233, 209);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="1-203">
      <rect x="825" y="325" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="cubicle" id="2-203">
      <rect x="940" y="325" width="60" height="60" style="fill:rgb(162, 213, 233);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk" id="1-209">
      <rect x="95" y="120" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="2-209">
      <rect x="145" y="120" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="3-209">
      <rect x="95" y="160" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="4-209">
      <rect x="145" y="160" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk" id="5-209">
      <rect x="95" y="220" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="6-209">
      <rect x="145" y="220" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="7-209">
      <rect x="95" y="260" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="8-209">
      <rect x="145" y="260" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

    <svg class="desk" id="9-209">
      <rect x="95" y="320" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="10-209">
      <rect x="145" y="320" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="11-209">
      <rect x="95" y="360" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>
    <svg class="desk" id="12-209">
      <rect x="145" y="360" width="50" height="40" style="fill:rgb(204, 161, 176);stroke-width:2;stroke:rgb(0,0,0)" />
    </svg>

  </svg>
</body>
</html>