<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head>
  <body>
    <div class="images">
      <img src="/Logos/BGC_Logo.png">
      <br>
      <img src="/Logos/DeskonDemand.jpg" width="100px" >
    </div>
    <div class="background">
      <br>
      <h1 class="header">Desk on Demand</h1>
      <a class="bottomlink" href="/users/login">Login</a>
      <a class="bottomlink" href="/users/adminlogin">Admin Login</a>
      <br>
      <br>
    </div>
  </body>
</html>
