<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manage Desks</title>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
      <style>
        html, body {
            height: 99%;
        }
      </style>
  </head>

  <body>
    <ul>
      <% if (messages.success_msg) { %>
        <li><%=messages.success_msg %></li>
      <% } %>
    </ul>
    <div id="myGrid" class="ag-theme-alpine" style="width: 90%; height: 50%"></div>
    <form id="deletedesk" action="" method="POST">
      <button onclick="delSelected()">Delete Selected Workstation</button>
    </form>
    <input id="tableid" type="hidden" value="null" name="tableid">
    <form id="editdesk" action="" method="POST">
      <button onclick="editSelected()">Edit Selected Workstation</button>
    </form>
    <input type="submit" class="button" onclick="location.href='/users/AdminDash';" value="Return to Admin Dash" />
    </div>
    
    <div class="tab">
      <button class="tablinks" onclick="floorplan(event, '2F')">Second Floor</button>
      <button class="tablinks" onclick="floorplan(event, '3F')">Third Floor</button>
      <button class="tablinks" onclick="floorplan(event, '4F')">Fourth Floor</button>
    </div>
    <div id="2F" class="tabcontent">
      <svg class="floor" width="1000" height="525">
        <rect width="1000" height="525" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
      <svg class="empty">
        <rect x="320" width="680" height="325" style="fill:grey;stroke-width:1;stroke:rgb(0,0,0)" />
      </svg>
      <svg class="breakroom">
        <rect width="320" height="100" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
        <text text-anchor="middle" x="160" y="50">LOUNGE</text>
      </svg>
      <svg class="cubicle">
        <rect id="13-208" y="100" width="60" height="60"/>
        <text text-anchor="middle" x="30" y="130">13-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="12-208" y="160" width="60" height="60"/>
        <text text-anchor="middle" x="30" y="190">12-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="10-208" y="290" width="60" height="60"/>
        <text text-anchor="middle" x="30" y="320">10-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="9-208" y="350" width="60" height="60"/>
        <text text-anchor="middle" x="30" y="380">9-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="8-208" x="35" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="60" y="487">8-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="7-208" x="85" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="110" y="487">7-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="6-208" x="160" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="185" y="487">6-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="5-208" x="210" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="235" y="487">5-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="4-208" x="285" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="310" y="487">4-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="3-208" x="335" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="360" y="487">3-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="2-208" x="410" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="435" y="487">2-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="1-208" x="460" y="450" width="50" height="75"/>
        <text text-anchor="middle" x="485" y="487">1-208</text>
      </svg>
      <svg class="office">
        <rect id="204" x="745" y="445" width="80" height="80"/>
        <text text-anchor="middle" x="785" y="485">204</text>
      </svg>
      <svg class="desk">
        <rect id="7-203" x="825" y="475" width="40" height="50"/>
        <text text-anchor="middle" x="845" y="500">7-203</text>
      </svg>
      <svg class="desk">
        <rect id="5-203" x="885" y="475" width="50" height="40"/>
        <text text-anchor="middle" x="910" y="495">5-203</text>
      </svg>
      <svg class="desk">
        <rect id="6-203" x="935" y="475" width="50" height="40"/>
        <text text-anchor="middle" x="960" y="495">6-203</text>
      </svg>
      <svg class="desk">
        <rec id="3-203"t x="885" y="435" width="50" height="40"/>
        <text text-anchor="middle" x="910" y="455">3-203</text>
      </svg>
      <svg class="desk">
        <rect id="4-203" x="935" y="435" width="50" height="40"/>
        <text text-anchor="middle" x="960" y="455">4-203</text>
      </svg>
  
      <svg class="print">
        <rect id="210" x="235" y="100" width="85" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
        <text text-anchor="middle" x="277" y="137">PRINT</text>
      </svg>
      <svg class="office">
        <rect id="212" x="235" y="175" width="85" height="70"/>
        <text text-anchor="middle" x="277" y="210">212</text>
      </svg>
      <svg class="office">
        <rect id="211" x="235" y="245" width="85" height="80"/>
        <text text-anchor="middle" x="277" y="285">211</text>
      </svg>
      <svg class="boardroom">
        <rect id="207" x="235" y="325" width="85" height="80"/>
        <text text-anchor="middle" x="277" y="365">211</text>
      </svg>
      <svg class="office">
        <rect id="206" x="320" y="325" width="65" height="80"/>
        <text text-anchor="middle" x="352" y="365">206</text>
      </svg>
      <svg class="boardroom">
        <rect id="205" x="385" y="325" width="130" height="80"/>
        <text text-anchor="middle" x="450" y="365">BOARDROOM 205</text>
      </svg>
      <svg class="office">
        <rect id="202" x="745" y="325" width="80" height="80"/>
        <text text-anchor="middle" x="785" y="365">202</text>
      </svg>
      <svg class="cubicle">
        <rect id="1-203" x="825" y="325" width="60" height="60"/>
        <text text-anchor="middle" x="855" y="355">1-203</text>
      </svg>
      <svg class="cubicle">
        <rect id="2-203" x="940" y="325" width="60" height="60"/>
        <text text-anchor="middle" x="970" y="355">2-203</text>
      </svg>
  
      <svg class="desk">
        <rect id="1-209" x="95" y="120" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="140">1-209</text>
      </svg>
      <svg class="desk">
        <rect id="2-209" x="145" y="120" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="140">2-209</text>
      </svg>
      <svg class="desk">
        <rect id="3-209" x="95" y="160" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="180">3-209</text>
      </svg>
      <svg class="desk">
        <rect id="4-209" x="145" y="160" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="180">4-209</text>
      </svg>
  
      <svg class="desk">
        <rect id="5-209" x="95" y="220" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="240">5-209</text>
      </svg>
      <svg class="desk">
        <rect id="6-209" x="145" y="220" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="240">6-209</text>
      </svg>
      <svg class="desk">
        <rect id="7-209" x="95" y="260" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="280">7-209</text>
      </svg>
      <svg class="desk">
        <rect id="8-209" x="145" y="260" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="280">8-209</text>
      </svg>
  
      <svg class="desk">
        <rect id="9-209" x="95" y="320" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="340">9-209</text>
      </svg>
      <svg class="desk">
        <rect id="10-209" x="145" y="320" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="340">10-209</text>
      </svg>
      <svg class="desk">
        <rect id="11-209" x="95" y="360" width="50" height="40"/>
        <text text-anchor="middle" x="120" y="380">11-209</text>
      </svg>
      <svg class="desk">
        <rect id="12-209" x="145" y="360" width="50" height="40"/>
        <text text-anchor="middle" x="170" y="380">12-209</text>
      </svg>
      </svg>
    </div>  

    <div id="3F" class="tabcontent">
      <svg width="1035" height="590">
        <rect class="floor" width="1035" height="590" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <svg>
          <rect id="multipurpose" x='75' width="190" height="150" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text text-anchor="middle" x="170" y="75">MULTI-PURPOSE</text>
        </svg>
        <svg>
          <rect id="library" x="265" width="190" height="150" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text text-anchor="middle" x="360" y="75">LIBRARY</text>
        </svg>
        <svg>
          <rect class="phone" id="315" x="455" width="60" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text text-anchor="middle" x="485" y="32">PHONE</text>
        </svg>
        <svg>
          <rect class="empty" x="455" y="75" width="60" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
        </svg>
        <svg>
          <rect class="boardroom" id="316" x="515" width="110" height="85" />
          <text text-anchor="middle" x="570" y="25">Joffre</text>
          <text text-anchor="middle" x="570" y="40">Boardroom</text>
          <text text-anchor="middle" x="570" y="55">316</text>
        </svg>
        <svg>
          <rect class="breakroom" x="625" width="410" height="140" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text text-anchor="middle" x="830" y="70">LOUNGE</text>
        </svg>
        <svg>
          <rect class="office" id="320" x="910" y="140" width="125" height="62" />
          <text text-anchor="middle" x="970" y="170">320</text>
        </svg>
        <svg>
          <rect class="supplies" id="319" x="845" y="140" width="65" height="62" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text text-anchor="middle" x="875" y="170">SUPPLIES</text>
        </svg>
        <svg>
          <rect class="office" id="324" x="955" y="202" width="80" height="61" />
          <text text-anchor="middle" x="995" y="230">324</text>
        </svg>
        <svg>
          <rect class="office" id="325" x="955" y="263" width="80" height="61" />
          <text text-anchor="middle" x="995" y="293">325</text>
        </svg>
        <svg>
          <rect class="office" id="326" x="955" y="324" width="80" height="61" />
          <text text-anchor="middle" x="995" y="354">326</text>
        </svg>
        <svg>
          <rect class="office" id="327" x="955" y="385" width="80" height="61" />
          <text text-anchor="middle" x="995" y="415">327</text>
        </svg>
        <svg>
          <rect class="office" id="328" x="955" y="446" width="80" height="84" />
          <text text-anchor="middle" x="995" y="490">328</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-323" x="840" y="245" width="47" height="40" />
          <text text-anchor="middle" x="863" y="265">1-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-323" x="887" y="245" width="47" height="40" />
          <text text-anchor="middle" x="910" y="265">2-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-323" x="840" y="300" width="47" height="40" />
          <text text-anchor="middle" x="863" y="320">3-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-323" x="887" y="300" width="47" height="40" />
          <text text-anchor="middle" x="910" y="320">4-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-323" x="840" y="340" width="47" height="40" />
          <text text-anchor="middle" x="863" y="360">5-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-323" x="887" y="340" width="47" height="40" />
          <text text-anchor="middle" x="910" y="360">6-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-323" x="840" y="395" width="47" height="40" />
          <text text-anchor="middle" x="863" y="415">7-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-323" x="887" y="395" width="47" height="40" />
          <text text-anchor="middle" x="910" y="415">8-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-323" x="840" y="435" width="47" height="40" />
          <text text-anchor="middle" x="863" y="455">9-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-323" x="887" y="435" width="47" height="40" />
          <text text-anchor="middle" x="910" y="455">10-323</text>
        </svg>

        <svg>
          <rect class="office" id="330" x="750" y="510" width="90" height="80" />
          <text text-anchor="middle" x="795" y="550">330</text>
        </svg>
        <svg>
          <rect class="office" id="331" x="690" y="510" width="60" height="80" />
          <text text-anchor="middle" x="720" y="550">331</text>
        </svg>
        <svg>
          <rect class="office" id="332" x="630" y="510" width="60" height="80" />
          <text text-anchor="middle" x="660" y="550">332</text>
        </svg>

        <svg>
          <rect class="desk" id="1-333" x="585" y="553" width="35" height="37" />
          <text text-anchor="middle" x="602" y="571">1-333</text>
        </svg>
        <svg>
          <rect class="desk" id="2-333" x="585" y="516" width="35" height="37" />
          <text text-anchor="middle" x="602" y="535">2-333</text>
        </svg>
        <svg>
          <rect class="desk" id="3-333" x="550" y="553" width="35" height="37" />
          <text text-anchor="middle" x="567" y="571">3-333</text>
        </svg>
        <svg>
          <rect class="desk" id="4-333" x="550" y="516" width="35" height="37" />
          <text text-anchor="middle" x="567" y="535">4-333</text>
        </svg>
        <svg>
          <rect class="desk" id="6-333" x="505" y="553" width="35" height="37" />
          <text text-anchor="middle" x="522" y="571">6-333</text>
        </svg>
        <svg>
          <rect class="desk" id="5-333" x="505" y="516" width="35" height="37" />
          <text text-anchor="middle" x="522" y="535">5-333</text>
        </svg>

        <svg>
          <rect class="office" id="334" x="445" y="516" width="60" height="74" />
          <text text-anchor="middle" x="475" y="543">334</text>
        </svg>
        <svg>
          <rect class="office" id="335" x="385" y="516" width="60" height="74" />
          <text text-anchor="middle" x="415" y="543">335</text>
        </svg>
        <svg>
          <rect class="office" id="336" x="325" y="516" width="60" height="74" />
          <text text-anchor="middle" x="355" y="543">336</text>
        </svg>
        <svg>
          <rect class="office" id="337" x="265" y="516" width="60" height="74" />
          <text text-anchor="middle" x="295" y="543">337</text>
        </svg>
        <svg>
          <rect class="office" id="338" x="205" y="516" width="60" height="74" />
          <text text-anchor="middle" x="235" y="543">338</text>
        </svg>

        <svg>
          <rect class="desk" id="1-339" x="170" y="516" width="35" height="37" />
          <text text-anchor="middle" x="187" y="535">1-339</text>
        </svg>
        <svg>
          <rect class="desk" id="2-339" x="170" y="553" width="35" height="37" />
          <text text-anchor="middle" x="187" y="571">2-339</text>
        </svg>
        <svg>
          <rect class="desk" id="3-339" x="120" y="516" width="35" height="37" />
          <text text-anchor="middle" x="137" y="535">3-339</text>
        </svg>
        <svg>
          <rect class="desk" id="4-339" x="120" y="553" width="35" height="37" />
          <text text-anchor="middle" x="137" y="571">4-339</text>
        </svg>
        <svg>
          <rect class="desk" id="5-339" x="85" y="516" width="35" height="37" />
          <text text-anchor="middle" x="102" y="535">5-339</text>
        </svg>
        <svg>
          <rect class="desk" id="6-339" x="85" y="553" width="35" height="37" />
          <text text-anchor="middle" x="102" y="571">6-339</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-340" y="543" width="43" height="47" />
          <text text-anchor="middle" x="21" y="566">1-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-340" y="496" width="43" height="47" />
          <text text-anchor="middle" x="21" y="520">2-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-340" y="449" width="43" height="47" />
          <text text-anchor="middle" x="21" y="472">3-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-340" y="402" width="43" height="47" />
          <text text-anchor="middle" x="21" y="425">4-340</text>
        </svg>

        <svg>
          <rect class="cubicle" id="5-340" y="310" width="43" height="47" />
          <text text-anchor="middle" x="21" y="333">5-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-340" y="263" width="43" height="47" />
          <text text-anchor="middle" x="21" y="286">6-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-340" y="216" width="43" height="47" />
          <text text-anchor="middle" x="21" y="239">7-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-340" y="169" width="43" height="47" />
          <text text-anchor="middle" x="21" y="192">8-340</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-341" x="82" y="435" width="47" height="40" />
          <text text-anchor="middle" x="105" y="455">1-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-341" x="129" y="435" width="47" height="40" />
          <text text-anchor="middle" x="152" y="455">2-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-341" x="82" y="380" width="47" height="40" />
          <text text-anchor="middle" x="105" y="400">3-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-341" x="129" y="380" width="47" height="40" />
          <text text-anchor="middle" x="152" y="400">4-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-341" x="82" y="340" width="47" height="40" />
          <text text-anchor="middle" x="105" y="360">5-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-341" x="129" y="340" width="47" height="40" />
          <text text-anchor="middle" x="152" y="360">6-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-341" x="82" y="285" width="47" height="40" />
          <text text-anchor="middle" x="105" y="305">8-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-341" x="129" y="285" width="47" height="40" />
          <text text-anchor="middle" x="152" y="305">7-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-341" x="82" y="245" width="47" height="40" />
          <text text-anchor="middle" x="105" y="265">9-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-341" x="129" y="245" width="47" height="40" />
          <text text-anchor="middle" x="152" y="265">10-341</text>
        </svg>
        <svg>
          <rect class="desk" id="12-341" x="82" y="193" width="35" height="37" />
          <text text-anchor="middle" x="100" y="220">12-341</text>
        </svg>
        <svg>
          <rect class="desk" id="11-341" x="117" y="193" width="35" height="37" />
          <text text-anchor="middle" x="135" y="220">11-341</text>
        </svg>

        <svg>
          <rect class="desk" id="5-343" x="215" y="190" width="35" height="37" />
          <text text-anchor="middle" x="232" y="208">5-343</text>
        </svg>
        <svg>
          <rect class="desk" id="6-343" x="250" y="190" width="35" height="37" />
          <text text-anchor="middle" x="267" y="208">6-343</text>
        </svg>
        <svg>
          <rect class="desk" id="4-343" x="215" y="227" width="35" height="37" />
          <text text-anchor="middle" x="232" y="245">4-343</text>
        </svg>
        <svg>
          <rect class="desk" id="3-343" x="250" y="227" width="35" height="37" />
          <text text-anchor="middle" x="267" y="245">3-343</text>
        </svg>
        <svg>
          <rect class="desk" id="1-343" x="215" y="264" width="35" height="37" />
          <text text-anchor="middle" x="232" y="282">1-343</text>
        </svg>
        <svg>
          <rect class="desk" id="2-343" x="250" y="264" width="35" height="37" />
          <text text-anchor="middle" x="267" y="282">2-343</text>
        </svg>

        <svg>
          <rect class="office" id="342" x="211" y="311" width="74" height="60" />
          <text text-anchor="middle" x="248" y="341">342</text>
        </svg>
        <svg>
          <rect class="office" id="341" x="211" y="371" width="74" height="60" />
          <text text-anchor="middle" x="248" y="401">341</text>
        </svg>
        <svg>
          <rect class="boardroom" id="347" x="211" y="431" width="74" height="60" />
          <text text-anchor="middle" x="248" y="446">Hollyburn</text>
          <text text-anchor="middle" x="248" y="461">Boardroom</text>
          <text text-anchor="middle" x="248" y="476">347</text>
        </svg>

        <svg>
          <rect class="boardroom" id="346" x="355" y="451" width="84" height="40" />
          <text text-anchor="middle" x="397" y="460">Rainbow</text>
          <text text-anchor="middle" x="397" y="475">Boardroom</text>
          <text text-anchor="middle" x="397" y="490">346</text>
        </svg>
        <svg>
          <rect class="phone" id="344" x="439" y="451" width="50" height="40" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text text-anchor="middle" x="464" y="471">PHONE</text>
        </svg>

        <svg>
          <rect class="boardroom" id="345" x="582" y="406" width="80" height="85" />
          <text text-anchor="middle" x="622" y="435">Robson</text>
          <text text-anchor="middle" x="622" y="450">Boardroom</text>
          <text text-anchor="middle" x="622" y="465">345</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-334" x="662" y="406" width="47" height="40" />
          <text text-anchor="middle" x="685" y="426">1-334</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-334" x="709" y="406" width="47" height="40" />
          <text text-anchor="middle" x="732" y="426">2-334</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-334" x="756" y="406" width="47" height="40" />
          <text text-anchor="middle" x="779" y="426">3-334</text>
        </svg>

      </svg>

    </div>


    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br>
    <script type="text/javascript" src="/public/desksjson.js"></script>
  </body>
</html>
