<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manage Users</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head> 
  <body>
    <div class="background">
      <br>
      <h1 class="header">Manage Users</h1>
      You can manage users here, to delete or edit a user you must enter an email <br>
      To edit a user, fill in only one field at a time and an email, and then select "Edit User Information" <br>
      To find which email is associated with each user query the database by selecting "Display All Users" below <br>
      You can also add users and admins here by filling in this form and selecting "Add User" or "Add Admin" respectively <br>
      <ul class="errors">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
      <form method="POST">
        <div>
          <input type="text" class="inputbox" id="fname" name="fname" placeholder="First Name" /> 
        </div>
        <br>
        <div>
          <input type="text" class="inputbox" id="lname" name="lname" placeholder="Last Name" /> 
        </div>
        <br>
        <div>
            <input type="email" class="inputbox" id="email" name="email" placeholder="Email" required /> 
        </div>
        <br>
        <div>
            <input type="password" class="inputbox" id="password" name="password" placeholder="Password" /> 
        </div>
        <br>
        <div>
            <input type="password" class="inputbox" id="confirmpw" name="confirmpw" placeholder="Confirm Password" /> 
        </div>
        <br>
        <div>
            <input type="submit" class="button" value="Add User" onclick="javascript: form.action='/users/addUser'"/>
            <input type="submit" class="button" value="Add Admin" onclick="javascript: form.action='/addAdmin'"/>
            <input type="submit" class="button" value="Delete User" onclick="javascript: form.action='/deleteUser'"/>
            <input type="submit" class="button" value="Edit User Information" onclick="javascript: form.action='/users/updateUser'"/>
            <input type="submit" class="button" onclick="location.href='/db';" value="Display All Users" />
            <input type="submit" class="button" onclick="location.href='/users/AdminDash';" value="Return to Admin Dash" />
        </div>
        <br>
        <br>
        <br>
      </form>
    </div>
    Desks on Demand
  </body>
</html>
