<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manage Desks</title>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
      <style>
        html, body {
            height: 99%;
        }
      </style>
  </head>

  <body>
    <div id="myGrid" class="ag-theme-alpine" style="width: 90%; height: 50%"></div>
    <form id="deletedesk" action="" method="POST">
      <button onclick="delSelected()">Delete Selected Workstation</button>
    </form>
    <input id="tableid" type="hidden" value="null" name="tableid">
    <form id="editdesk" action="" method="POST">
      <button onclick="editSelected()">Edit Selected Workstation</button>
    </form>

    <input type="submit" class="button" onclick="location.href='/users/AdminDash';" value="Return to Admin Dash" />
  
      <br>
    
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br>
    <script type="text/javascript" src="/public/desksjson.js"></script>
  </body>
</html>
