<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manage Desks</title>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
      <style>
        html, body {
            height: 99%;
        }
      </style>
  </head>

  <body>
    
    <input type="submit" class="button" onclick="location.href='/users/AdminDash';" value="Return to Admin Dash" />
    <ul>
      <% if (messages.success_msg) { %>
        <li><%=messages.success_msg %></li>
      <% } %>
    </ul>
    <ul>
      <% if (messages.error) { %>
        <li><%=messages.error %></li>
      <% } %>
    </ul>
    <div id="myGrid" class="ag-theme-alpine" style="width: 100%; height: 40%"></div>
      <!-- <form id="deletedesk" action="" method="POST">
        <button onclick="delSelected()">Delete Selected Workstation</button>
      </form> -->
      <input id="tableid" type="hidden" value="null" name="tableid">
      <br>
      <form id="editdesk" action="" method="POST">
        <button onclick="return editSelected()">Edit Selected Workstation</button>
      </form>
      <br>
    </div>
    
    <div class="background">
    <div class="tab">
      <button class="tablinks" onclick="floorplan(event, '2F')">Second Floor</button>
      <button class="tablinks" onclick="floorplan(event, '3F')">Third Floor</button>
      <button class="tablinks" onclick="floorplan(event, '4F')">Fourth Floor</button>
      <button class="tablinks" onclick="floorplan(event, '5F')">Fifth Floor</button>
      <button class="tablinks" onclick="floorplan(event, '6F')">Sixth Floor</button>
    </div>
    <div id="2F" class="tabcontent" style="display:block">
      <svg class="floor" width="1000" height="525">
        <rect width="1000" height="525" style="fill:white;stroke:rgb(0,0,0)" />
      <svg class="empty">
        <rect x="320" width="680" height="325" style="fill:grey;stroke:rgb(0,0,0)" />
      </svg>
      <svg class="breakroom">
        <rect width="320" height="100" style="fill:rgb(141, 141, 172);stroke:rgb(0,0,0)" />
        <text x="160" y="50">LOUNGE</text>
      </svg>
      <svg class="cubicle">
        <rect id="13-208" y="100" width="60" height="60"/>
        <text x="30" y="130">13-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="12-208" y="160" width="60" height="60"/>
        <text x="30" y="190">12-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="10-208" y="290" width="60" height="60"/>
        <text x="30" y="320">10-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="9-208" y="350" width="60" height="60"/>
        <text x="30" y="380">9-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="8-208" x="35" y="450" width="50" height="75"/>
        <text x="60" y="487">8-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="7-208" x="85" y="450" width="50" height="75"/>
        <text x="110" y="487">7-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="6-208" x="160" y="450" width="50" height="75"/>
        <text x="185" y="487">6-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="5-208" x="210" y="450" width="50" height="75"/>
        <text x="235" y="487">5-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="4-208" x="285" y="450" width="50" height="75"/>
        <text x="310" y="487">4-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="3-208" x="335" y="450" width="50" height="75"/>
        <text x="360" y="487">3-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="2-208" x="410" y="450" width="50" height="75"/>
        <text x="435" y="487">2-208</text>
      </svg>
      <svg class="cubicle">
        <rect id="1-208" x="460" y="450" width="50" height="75"/>
        <text x="485" y="487">1-208</text>
      </svg>
      <svg class="office">
        <rect id="204" x="745" y="445" width="80" height="80"/>
        <text x="785" y="485">204</text>
      </svg>
      <svg class="desk">
        <rect id="7-203" x="825" y="475" width="40" height="50"/>
        <text x="845" y="500">7-203</text>
      </svg>
      <svg class="desk">
        <rect id="5-203" x="885" y="475" width="50" height="40"/>
        <text x="910" y="495">5-203</text>
      </svg>
      <svg class="desk">
        <rect id="6-203" x="935" y="475" width="50" height="40"/>
        <text x="960" y="495">6-203</text>
      </svg>
      <svg class="desk">
        <rect id="3-203" x="885" y="435" width="50" height="40"/>
        <text x="910" y="455">3-203</text>
      </svg>
      <svg class="desk">
        <rect id="4-203" x="935" y="435" width="50" height="40"/>
        <text x="960" y="455">4-203</text>
      </svg>
  
      <svg class="print">
        <rect id="210" x="235" y="100" width="85" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
        <text x="277" y="137">PRINT</text>
      </svg>
      <svg class="office">
        <rect id="212" x="235" y="175" width="85" height="70"/>
        <text x="277" y="210">212</text>
      </svg>
      <svg class="office">
        <rect id="211" x="235" y="245" width="85" height="80"/>
        <text x="277" y="285">211</text>
      </svg>
      <svg class="boardroom">
        <rect id="207" x="235" y="325" width="85" height="80"/>
        <text x="277" y="365">211</text>
      </svg>
      <svg class="office">
        <rect id="206" x="320" y="325" width="65" height="80"/>
        <text x="352" y="365">206</text>
      </svg>
      <svg class="boardroom">
        <rect id="205" x="385" y="325" width="130" height="80"/>
        <text x="450" y="365">BOARDROOM 205</text>
      </svg>
      <svg class="office">
        <rect id="202" x="745" y="325" width="80" height="80"/>
        <text x="785" y="365">202</text>
      </svg>
      <svg class="cubicle">
        <rect id="1-203" x="825" y="325" width="60" height="60"/>
        <text x="855" y="355">1-203</text>
      </svg>
      <svg class="cubicle">
        <rect id="2-203" x="940" y="325" width="60" height="60"/>
        <text x="970" y="355">2-203</text>
      </svg>
  
      <svg class="desk">
        <rect id="1-209" x="95" y="120" width="50" height="40"/>
        <text x="120" y="140">1-209</text>
      </svg>
      <svg class="desk">
        <rect id="2-209" x="145" y="120" width="50" height="40"/>
        <text x="170" y="140">2-209</text>
      </svg>
      <svg class="desk">
        <rect id="3-209" x="95" y="160" width="50" height="40"/>
        <text x="120" y="180">3-209</text>
      </svg>
      <svg class="desk">
        <rect id="4-209" x="145" y="160" width="50" height="40"/>
        <text x="170" y="180">4-209</text>
      </svg>
  
      <svg class="desk">
        <rect id="5-209" x="95" y="220" width="50" height="40"/>
        <text x="120" y="240">5-209</text>
      </svg>
      <svg class="desk">
        <rect id="6-209" x="145" y="220" width="50" height="40"/>
        <text x="170" y="240">6-209</text>
      </svg>
      <svg class="desk">
        <rect id="7-209" x="95" y="260" width="50" height="40"/>
        <text x="120" y="280">7-209</text>
      </svg>
      <svg class="desk">
        <rect id="8-209" x="145" y="260" width="50" height="40"/>
        <text x="170" y="280">8-209</text>
      </svg>
  
      <svg class="desk">
        <rect id="9-209" x="95" y="320" width="50" height="40"/>
        <text x="120" y="340">9-209</text>
      </svg>
      <svg class="desk">
        <rect id="10-209" x="145" y="320" width="50" height="40"/>
        <text x="170" y="340">10-209</text>
      </svg>
      <svg class="desk">
        <rect id="11-209" x="95" y="360" width="50" height="40"/>
        <text x="120" y="380">11-209</text>
      </svg>
      <svg class="desk">
        <rect id="12-209" x="145" y="360" width="50" height="40"/>
        <text x="170" y="380">12-209</text>
      </svg>
      </svg>
    </div>  

    <div id="3F" class="tabcontent">
      <svg width="1035" height="590">
        <rect class="floor" width="1035" height="590" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <svg>
          <rect id="multipurpose" x='75' width="190" height="150" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="170" y="75">MULTI-PURPOSE</text>
        </svg>
        <svg>
          <rect id="library" x="265" width="190" height="150" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="360" y="75">LIBRARY</text>
        </svg>
        <svg>
          <rect class="phone" id="315" x="455" width="60" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="485" y="32">PHONE</text>
        </svg>
        <svg>
          <rect class="empty" x="455" y="75" width="60" height="75" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
        </svg>
        <svg>
          <rect class="boardroom" id="316" x="515" width="110" height="85" />
          <text x="570" y="25">Joffre</text>
          <text x="570" y="40">Boardroom</text>
          <text x="570" y="55">316</text>
        </svg>
        <svg>
          <rect class="breakroom" x="625" width="410" height="140" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="830" y="70">LOUNGE</text>
        </svg>
        <svg>
          <rect class="office" id="320" x="910" y="140" width="125" height="62" />
          <text x="970" y="170">320</text>
        </svg>
        <svg>
          <rect class="supplies" id="319" x="845" y="140" width="65" height="62" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="875" y="170">SUPPLIES</text>
        </svg>
        <svg>
          <rect class="office" id="324" x="955" y="202" width="80" height="61" />
          <text x="995" y="230">324</text>
        </svg>
        <svg>
          <rect class="office" id="325" x="955" y="263" width="80" height="61" />
          <text x="995" y="293">325</text>
        </svg>
        <svg>
          <rect class="office" id="326" x="955" y="324" width="80" height="61" />
          <text x="995" y="354">326</text>
        </svg>
        <svg>
          <rect class="office" id="327" x="955" y="385" width="80" height="61" />
          <text x="995" y="415">327</text>
        </svg>
        <svg>
          <rect class="office" id="328" x="955" y="446" width="80" height="84" />
          <text x="995" y="490">328</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-323" x="840" y="245" width="47" height="40" />
          <text x="863" y="265">1-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-323" x="887" y="245" width="47" height="40" />
          <text x="910" y="265">2-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-323" x="840" y="300" width="47" height="40" />
          <text x="863" y="320">3-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-323" x="887" y="300" width="47" height="40" />
          <text x="910" y="320">4-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-323" x="840" y="340" width="47" height="40" />
          <text x="863" y="360">5-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-323" x="887" y="340" width="47" height="40" />
          <text x="910" y="360">6-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-323" x="840" y="395" width="47" height="40" />
          <text x="863" y="415">7-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-323" x="887" y="395" width="47" height="40" />
          <text x="910" y="415">8-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-323" x="840" y="435" width="47" height="40" />
          <text x="863" y="455">9-323</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-323" x="887" y="435" width="47" height="40" />
          <text x="910" y="455">10-323</text>
        </svg>

        <svg>
          <rect class="office" id="330" x="750" y="510" width="90" height="80" />
          <text x="795" y="550">330</text>
        </svg>
        <svg>
          <rect class="office" id="331" x="690" y="510" width="60" height="80" />
          <text x="720" y="550">331</text>
        </svg>
        <svg>
          <rect class="office" id="332" x="630" y="510" width="60" height="80" />
          <text x="660" y="550">332</text>
        </svg>

        <svg>
          <rect class="desk" id="1-333" x="585" y="553" width="35" height="37" />
          <text x="602" y="571">1-333</text>
        </svg>
        <svg>
          <rect class="desk" id="2-333" x="585" y="516" width="35" height="37" />
          <text x="602" y="535">2-333</text>
        </svg>
        <svg>
          <rect class="desk" id="3-333" x="550" y="553" width="35" height="37" />
          <text x="567" y="571">3-333</text>
        </svg>
        <svg>
          <rect class="desk" id="4-333" x="550" y="516" width="35" height="37" />
          <text x="567" y="535">4-333</text>
        </svg>
        <svg>
          <rect class="desk" id="6-333" x="505" y="553" width="35" height="37" />
          <text x="522" y="571">6-333</text>
        </svg>
        <svg>
          <rect class="desk" id="5-333" x="505" y="516" width="35" height="37" />
          <text x="522" y="535">5-333</text>
        </svg>

        <svg>
          <rect class="office" id="334" x="445" y="516" width="60" height="74" />
          <text x="475" y="543">334</text>
        </svg>
        <svg>
          <rect class="office" id="335" x="385" y="516" width="60" height="74" />
          <text x="415" y="543">335</text>
        </svg>
        <svg>
          <rect class="office" id="336" x="325" y="516" width="60" height="74" />
          <text x="355" y="543">336</text>
        </svg>
        <svg>
          <rect class="office" id="337" x="265" y="516" width="60" height="74" />
          <text x="295" y="543">337</text>
        </svg>
        <svg>
          <rect class="office" id="338" x="205" y="516" width="60" height="74" />
          <text x="235" y="543">338</text>
        </svg>

        <svg>
          <rect class="desk" id="1-339" x="170" y="516" width="35" height="37" />
          <text x="187" y="535">1-339</text>
        </svg>
        <svg>
          <rect class="desk" id="2-339" x="170" y="553" width="35" height="37" />
          <text x="187" y="571">2-339</text>
        </svg>
        <svg>
          <rect class="desk" id="3-339" x="120" y="516" width="35" height="37" />
          <text x="137" y="535">3-339</text>
        </svg>
        <svg>
          <rect class="desk" id="4-339" x="120" y="553" width="35" height="37" />
          <text x="137" y="571">4-339</text>
        </svg>
        <svg>
          <rect class="desk" id="5-339" x="85" y="516" width="35" height="37" />
          <text x="102" y="535">5-339</text>
        </svg>
        <svg>
          <rect class="desk" id="6-339" x="85" y="553" width="35" height="37" />
          <text x="102" y="571">6-339</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-340" y="543" width="43" height="47" />
          <text x="21" y="566">1-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-340" y="496" width="43" height="47" />
          <text x="21" y="520">2-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-340" y="449" width="43" height="47" />
          <text x="21" y="472">3-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-340" y="402" width="43" height="47" />
          <text x="21" y="425">4-340</text>
        </svg>

        <svg>
          <rect class="cubicle" id="5-340" y="310" width="43" height="47" />
          <text x="21" y="333">5-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-340" y="263" width="43" height="47" />
          <text x="21" y="286">6-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-340" y="216" width="43" height="47" />
          <text x="21" y="239">7-340</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-340" y="169" width="43" height="47" />
          <text x="21" y="192">8-340</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-341" x="82" y="435" width="47" height="40" />
          <text x="105" y="455">1-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-341" x="129" y="435" width="47" height="40" />
          <text x="152" y="455">2-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-341" x="82" y="380" width="47" height="40" />
          <text x="105" y="400">3-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-341" x="129" y="380" width="47" height="40" />
          <text x="152" y="400">4-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-341" x="82" y="340" width="47" height="40" />
          <text x="105" y="360">5-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-341" x="129" y="340" width="47" height="40" />
          <text x="152" y="360">6-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-341" x="82" y="285" width="47" height="40" />
          <text x="105" y="305">8-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-341" x="129" y="285" width="47" height="40" />
          <text x="152" y="305">7-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-341" x="82" y="245" width="47" height="40" />
          <text x="105" y="265">9-341</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-341" x="129" y="245" width="47" height="40" />
          <text x="152" y="265">10-341</text>
        </svg>
        <svg>
          <rect class="desk" id="12-341" x="82" y="193" width="35" height="37" />
          <text x="100" y="220">12-341</text>
        </svg>
        <svg>
          <rect class="desk" id="11-341" x="117" y="193" width="35" height="37" />
          <text x="135" y="220">11-341</text>
        </svg>

        <svg>
          <rect class="desk" id="5-343" x="215" y="190" width="35" height="37" />
          <text x="232" y="208">5-343</text>
        </svg>
        <svg>
          <rect class="desk" id="6-343" x="250" y="190" width="35" height="37" />
          <text x="267" y="208">6-343</text>
        </svg>
        <svg>
          <rect class="desk" id="4-343" x="215" y="227" width="35" height="37" />
          <text x="232" y="245">4-343</text>
        </svg>
        <svg>
          <rect class="desk" id="3-343" x="250" y="227" width="35" height="37" />
          <text x="267" y="245">3-343</text>
        </svg>
        <svg>
          <rect class="desk" id="1-343" x="215" y="264" width="35" height="37" />
          <text x="232" y="282">1-343</text>
        </svg>
        <svg>
          <rect class="desk" id="2-343" x="250" y="264" width="35" height="37" />
          <text x="267" y="282">2-343</text>
        </svg>

        <svg>
          <rect class="office" id="342" x="211" y="311" width="74" height="60" />
          <text x="248" y="341">342</text>
        </svg>
        <svg>
          <rect class="office" id="341" x="211" y="371" width="74" height="60" />
          <text x="248" y="401">341</text>
        </svg>
        <svg>
          <rect class="boardroom" id="347" x="211" y="431" width="74" height="60" />
          <text x="248" y="446">Hollyburn</text>
          <text x="248" y="461">Boardroom</text>
          <text x="248" y="476">347</text>
        </svg>

        <svg>
          <rect class="empty" x="285" y="190" width="220" height="216" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        <svg>
          <rect class="empty" x="565" y="190" width="220" height="216" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>

        <svg>
          <rect class="lounge" x="285" y="406" width="70" height="85" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
        </svg>
        <svg>
          <rect class="boardroom" id="346" x="355" y="451" width="84" height="40" />
          <text x="397" y="460">Rainbow</text>
          <text x="397" y="472">Boardroom</text>
          <text x="397" y="485">346</text>
        </svg>
        <svg>
          <rect class="phone" id="344" x="439" y="451" width="50" height="40" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="464" y="471">PHONE</text>
        </svg>

        <svg>
          <rect class="boardroom" id="345" x="582" y="406" width="80" height="85" />
          <text x="622" y="440">Robson</text>
          <text x="622" y="452">Boardroom</text>
          <text x="622" y="465">345</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-334" x="662" y="406" width="47" height="40" />
          <text x="685" y="426">1-334</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-334" x="709" y="406" width="47" height="40" />
          <text x="732" y="426">2-334</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-334" x="756" y="406" width="47" height="40" />
          <text x="779" y="426">3-334</text>
        </svg>

      </svg>

    </div>

    <div id="4F" class="tabcontent">
      <svg width="1110" height="670">
        <rect class="floor" width="1110" height="670" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <svg>
          <rect class="office" id="411" x="60" width="87" height="80"/>
          <text x="103" y="40">411</text>
        </svg>
        <svg>
          <rect class="office" id="412" x="147" width="62" height="80"/>
          <text x="178" y="40">412</text>
        </svg>
        <svg>
          <rect class="office" id="413" x="209" width="62" height="80"/>
          <text x="240" y="40">413</text>
        </svg>
        <svg>
          <rect class="boardroom" id="414" x="271" width="190" height="115"/>
          <text x="366" y="55">Black Tusk Boardroom</text>
          <text x="366" y="70">414</text>
        </svg>
        <svg>
          <rect class="office" id="415" x="461" width="62" height="80"/>
          <text x="492" y="40">415</text>
        </svg>
        <svg>
          <rect class="office" id="416" x="523" width="62" height="80"/>
          <text x="554" y="40">416</text>
        </svg>
        <svg>
          <rect class="office" id="417" x="585" width="62" height="80"/>
          <text x="616" y="40">417</text>
        </svg>
        <svg>
          <rect class="office" id="418" x="647" width="87" height="80"/>
          <text x="690" y="40">418</text>
        </svg>
        <svg>
          <rect class="office" id="419" x="734" width="87" height="80"/>
          <text x="777" y="40">419</text>
        </svg>
        <svg>
          <rect class="office" id="420" x="821" width="62" height="80"/>
          <text x="852" y="40">420</text>
        </svg>
        <svg>
          <rect class="office" id="421" x="883" width="87" height="80"/>
          <text x="926" y="40">421</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-424" x="556" y="115" width="48" height="43"/>
          <text x="580" y="136">1-424</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-424" x="604" y="115" width="48" height="43"/>
          <text x="628" y="136">2-424</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-424" x="556" y="177" width="48" height="43"/>
          <text x="580" y="198">3-424</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-424" x="604" y="177" width="48" height="43"/>
          <text x="628" y="198">4-424</text>
        </svg>
        <svg>
          <rect class="boardroom" id="425" x="652" y="115" width="82" height="105"/>
          <text x="693" y="167">425</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-426" x="734" y="115" width="48" height="43"/>
          <text x="758" y="136">1-426</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-426" x="779" y="115" width="48" height="43"/>
          <text x="803" y="136">2-426</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-426" x="734" y="177" width="48" height="43"/>
          <text x="758" y="198">3-426</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-426" x="779" y="177" width="48" height="43"/>
          <text x="803" y="198">4-426</text>
        </svg>

        <svg>
          <rect class="office" id="429" x="1030" y="64" width="65" height="95"/>
          <text x="1062" y="111">429</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-430" x="859" y="124" width="48" height="43"/>
          <text x="883" y="145">1-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-430" x="907" y="124" width="48" height="43"/>
          <text x="931" y="145">2-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-430" x="955" y="124" width="48" height="43"/>
          <text x="979" y="145">3-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-430" x="859" y="182" width="48" height="43"/>
          <text x="883" y="203">4-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-430" x="907" y="182" width="48" height="43"/>
          <text x="931" y="203">5-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-430" x="955" y="182" width="48" height="43"/>
          <text x="979" y="203">6-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-430" x="1030" y="159" width="80" height="48"/>
          <text x="1070" y="183">7-430</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-431" x="859" y="225" width="48" height="43"/>
          <text x="883" y="246">1-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-431" x="907" y="225" width="48" height="43"/>
          <text x="931" y="246">2-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-431" x="955" y="225" width="48" height="43"/>
          <text x="979" y="246">3-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-431" x="893" y="288" width="48" height="43"/>
          <text x="917" y="309">4-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-431" x="941" y="288" width="48" height="43"/>
          <text x="965" y="309">5-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-431" x="1067" y="207" width="43" height="48"/>
          <text x="1089" y="231">6-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-431" x="1014" y="288" width="48" height="43"/>
          <text x="1038" y="309">7-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-431" x="1062" y="288" width="48" height="43"/>
          <text x="1086" y="309">8-431</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-432" x="893" y="331" width="48" height="43"/>
          <text x="917" y="352">1-432</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-432" x="941" y="331" width="48" height="43"/>
          <text x="965" y="352">2-432</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-432" x="1014" y="331" width="48" height="43"/>
          <text x="1038" y="352">3-432</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-432" x="1062" y="331" width="48" height="43"/>
          <text x="1086" y="352">4-432</text>
        </svg>
        <svg>
          <rect class="desk" id="5-432" x="923" y="404" width="35" height="25"/>
          <text x="940" y="417">5-432</text>
        </svg>
        <svg>
          <rect class="desk" id="6-432" x="958" y="404" width="35" height="25"/>
          <text x="975" y="417">6-432</text>
        </svg>
        <svg>
          <rect class="desk" id="7-432" x="923" y="429" width="35" height="25"/>
          <text x="940" y="441">7-432</text>
        </svg>
        <svg>
          <rect class="desk" id="8-432" x="958" y="429" width="35" height="25"/>
          <text x="975" y="441">8-432</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-432" x="1067" y="399" width="43" height="48"/>
          <text x="1088" y="423">9-432</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-432" x="1067" y="442" width="43" height="48"/>
          <text x="1088" y="466">10-432</text>
        </svg>
        <svg>
          <rect class="desk" id="11-432" x="923" y="490" width="35" height="25"/>
          <text x="940" y="501">11-432</text>
        </svg>
        <svg>
          <rect class="desk" id="12-432" x="958" y="490" width="35" height="25"/>
          <text x="975" y="501">12-432</text>
        </svg>
        <svg>
          <rect class="desk" id="13-432" x="923" y="515" width="35" height="25"/>
          <text x="940" y="527">13-432</text>
        </svg>
        <svg>
          <rect class="desk" id="14-432" x="958" y="515" width="35" height="25"/>
          <text x="975" y="527">14-432</text>
        </svg>
        <svg>
          <rect class="office" id="438" x="1030" y="490" width="80" height="100"/>
          <text x="1070" y="540">438</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-441" x="489" y="627" width="48" height="43"/>
          <text x="513" y="648">1-441</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-441" x="537" y="627" width="48" height="43"/>
          <text x="561" y="648">2-441</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-441" x="585" y="627" width="48" height="43"/>
          <text x="609" y="648">3-441</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-441" x="663" y="590" width="48" height="80"/>
          <text x="687" y="630">4-441</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-441" x="711" y="590" width="48" height="80"/>
          <text x="735" y="630">5-441</text>
        </svg>
        <svg>
          <rect class="office" id="439" x="759" y="590" width="90" height="80"/>
          <text x="804" y="630">439</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-443" x="280" y="590" width="48" height="80"/>
          <text x="304" y="630">1-443</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-443" x="328" y="590" width="48" height="80"/>
          <text x="352" y="630">2-443</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-443" x="376" y="590" width="48" height="80"/>
          <text x="400" y="630">3-443</text>
        </svg>
        <svg>
          <rect class="office" id="444" x="180" y="590" width="100" height="80"/>
          <text x="230" y="630">444</text>
        </svg>
        <svg>
          <rect class="office" id="445" x="80" y="590" width="100" height="80"/>
          <text x="130" y="630">445</text>
        </svg>
        <svg>
          <rect class="office" id="447" y="552" width="80" height="118"/>
          <text x="40" y="611">447</text>
        </svg>
        <svg>
          <rect class="office" id="448" y="460" width="80" height="92"/>
          <text x="40" y="506">448</text>
        </svg>
        <svg>
          <rect class="office" id="449" y="398" width="80" height="62"/>
          <text x="40" y="429">449</text>
        </svg>
        <svg>
          <rect class="office" id="450" y="336" width="80" height="62"/>
          <text x="40" y="367">450</text>
        </svg>
        <svg>
          <rect class="office" id="451" y="246" width="80" height="90"/>
          <text x="40" y="291">451</text>
        </svg>

        <svg>
          <rect class="desk" id="1-453" x="125" y="110" width="35" height="25"/>
          <text x="142" y="122">1-453</text>
        </svg>
        <svg>
          <rect class="desk" id="2-453" x="160" y="110" width="35" height="25"/>
          <text x="177" y="122">2-453</text>
        </svg>
        <svg>
          <rect class="desk" id="3-453" x="195" y="110" width="35" height="25"/>
          <text x="212" y="122">3-453</text>
        </svg>
        <svg>
          <rect class="desk" id="10-453" x="125" y="135" width="35" height="25"/>
          <text x="142" y="147">10-453</text>
        </svg>
        <svg>
          <rect class="desk" id="11-453" x="160" y="135" width="35" height="25"/>
          <text x="177" y="147">11-453</text>
        </svg>
        <svg>
          <rect class="desk" id="12-453" x="195" y="135" width="35" height="25"/>
          <text x="212" y="147">12-453</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-453" x="105" y="185" width="48" height="86"/>
          <text x="129" y="228">4-453</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-453" x="153" y="185" width="48" height="43"/>
          <text x="177" y="206">5-453</text>
        </svg>
        <svg>
          <rect class="desk" id="13-453" x="201" y="185" width="48" height="43"/>
          <text x="225" y="206">13-453</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-453" x="153" y="228" width="48" height="43"/>
          <text x="177" y="249">7-453</text>
        </svg>
        <svg>
          <rect class="desk" id="6-453" x="201" y="228" width="48" height="43"/>
          <text x="225" y="249">6-453</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-453" x="105" y="290" width="48" height="86"/>
          <text x="129" y="333">1-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-453" x="153" y="290" width="48" height="43"/>
          <text x="177" y="311">8-453</text>
        </svg>
        <svg>
          <rect class="desk" id="9-453" x="201" y="290" width="48" height="43"/>
          <text x="225" y="311">9-453</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-453" x="153" y="333" width="48" height="43"/>
          <text x="177" y="354">2-452</text>
        </svg>
        <svg>
          <rect class="desk" id="3-452" x="201" y="333" width="48" height="43"/>
          <text x="225" y="354">3-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-452" x="105" y="400" width="48" height="86"/>
          <text x="129" y="443">4-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-452" x="153" y="400" width="48" height="43"/>
          <text x="177" y="421">5-452</text>
        </svg>
        <svg>
          <rect class="desk" id="6-452" x="201" y="400" width="48" height="43"/>
          <text x="225" y="421">6-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-452" x="153" y="443" width="48" height="43"/>
          <text x="177" y="464">7-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-452" x="105" y="500" width="48" height="43"/>
          <text x="129" y="521">8-452</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-452" x="153" y="500" width="48" height="43"/>
          <text x="177" y="521">9-452</text>
        </svg>

        <svg>
          <rect class="it" id="455" x="240" y="470" width="140" height="85" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="310" y="511">IT STORAGE 455</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-422" x="380" y="512" width="48" height="43"/>
          <text x="404" y="533">1-422</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-422" x="428" y="512" width="48" height="43"/>
          <text x="452" y="533">2-422</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-422" x="476" y="512" width="48" height="43"/>
          <text x="500" y="533">3-422</text>
        </svg>
        <svg>
          <rect id="434" x="800" y="410" width="70" height="105" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="835" y="430">PLOTTER</text>
          <text x="835" y="445">434</text>
        </svg>
        <svg>
          <rect class="empty" x="300" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        
        <svg>
          <rect class="it" id="440" x="580" y="455" width="245" height="100" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="702" y="505">IT SERVER 440</text>
        </svg>
        <svg>
          <rect class="empty" x="580" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        <svg>
          <rect class="phone" id="435" x="825" y="515" width="45" height="40" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="847" y="530">PHONE</text>
          <text x="847" y="545">435</text>
        </svg>

      </svg>
    </div>

    <div id="5F" class="tabcontent">
      <svg width="1110" height="670">
        <rect class="floor" width="1110" height="670" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <svg>
          <rect class="office" id="513" x="60" width="87" height="80"/>
          <text x="103" y="40">513</text>
        </svg>
        <svg>
          <rect class="office" id="514" x="147" width="62" height="80"/>
          <text x="178" y="40">514</text>
        </svg>
        <svg>
          <rect class="office" id="515" x="209" width="62" height="80"/>
          <text x="240" y="40">515</text>
        </svg>
        <svg>
          <rect class="boardroom" id="516" x="271" width="185" height="115"/>
          <text x="366" y="40">Founder's Ridge</text>
          <text x="366" y="55">Boardroom</text>
          <text x="366" y="70">516</text>
        </svg>
        <svg>
          <rect class="office" id="517" x="456" width="191" height="80"/>
          <text x="552" y="40">Panorama Boardroom 517</text>
        </svg>
        <svg>
          <rect class="office" id="510" x="486" y="115" width="131" height="60"/>
          <text x="551" y="145">510</text>
        </svg>
        <svg>
          <rect class="office" id="518" x="647" width="87" height="80"/>
          <text x="690" y="40">518</text>
        </svg>
        <svg>
          <rect class="office" id="519" x="734" width="87" height="80"/>
          <text x="777" y="40">519</text>
        </svg>
        <svg>
          <rect class="office" id="520" x="821" width="62" height="80"/>
          <text x="852" y="40">520</text>
        </svg>
        <svg>
          <rect class="office" id="521" x="883" width="87" height="80"/>
          <text x="926" y="40">521</text>
        </svg>


        <svg>
          <rect class="phone" id="522" x="640" y="115" width="45" height="55" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="662" y="137">PHONE</text>
          <text x="662" y="152">522</text>
        </svg>
        <svg>
          <rect class="phone" id="523" x="640" y="170" width="45" height="50" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="662" y="190">PHONE</text>
          <text x="662" y="205">523</text>
        </svg>
        <svg>
          <rect class="receiving" id="524" x="685" y="115" width="65" height="105" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="717" y="147">SHIPPING</text>
          <text x="717" y="162">RECEIVING</text>
          <text x="717" y="177">524</text>
        </svg>
        <svg>
          <rect class="boardroom" id="525" x="750" y="115" width="75" height="105"/>
          <text x="787" y="147">Tantalus</text>
          <text x="787" y="162">Boardroom</text>
          <text x="787" y="177">525</text>
        </svg>
       
        <svg>
          <rect class="office" id="528" x="1030" y="64" width="65" height="95"/>
          <text x="1062" y="111">528</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-559" x="105" y="124" width="48" height="43"/>
          <text x="129" y="145">1-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-559" x="153" y="124" width="48" height="43"/>
          <text x="177" y="145">2-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-559" x="201" y="124" width="48" height="43"/>
          <text x="225" y="145">3-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="13-530" x="859" y="182" width="48" height="43"/>
          <text x="883" y="203">13-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-530" x="907" y="182" width="48" height="43"/>
          <text x="931" y="203">5-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-530" x="955" y="182" width="48" height="86"/>
          <text x="979" y="225">7-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-530" x="1030" y="159" width="80" height="48"/>
          <text x="1070" y="183">8-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-530" x="859" y="225" width="48" height="43"/>
          <text x="883" y="246">4-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-530" x="907" y="225" width="48" height="43"/>
          <text x="931" y="246">6-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-531" x="893" y="288" width="48" height="43"/>
          <text x="917" y="309">1-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-531" x="941" y="288" width="48" height="43"/>
          <text x="965" y="309">2-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-530" x="1030" y="207" width="80" height="48"/>
          <text x="1070" y="231">9-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-531" x="1014" y="288" width="48" height="43"/>
          <text x="1038" y="309">4-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-531" x="1062" y="288" width="48" height="43"/>
          <text x="1086" y="309">5-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-531" x="893" y="331" width="48" height="43"/>
          <text x="917" y="352">8-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-531" x="941" y="331" width="48" height="43"/>
          <text x="965" y="352">3-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-531" x="1014" y="331" width="48" height="43"/>
          <text x="1038" y="352">6-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-531" x="1062" y="331" width="48" height="43"/>
          <text x="1086" y="352">7-531</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-532" x="902" y="410" width="43" height="48"/>
          <text x="923" y="434">1-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-532" x="960" y="410" width="43" height="48"/>
          <text x="981" y="434">2-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-532" x="902" y="458" width="43" height="48"/>
          <text x="923" y="482">3-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-532" x="960" y="458" width="43" height="48"/>
          <text x="981" y="482">4-532</text>
        </svg>
        <svg>
        <svg>
          <rect class="cubicle" id="5-532" x="902" y="506" width="43" height="48"/>
          <text x="923" y="530">5-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-532" x="960" y="506" width="43" height="48"/>
          <text x="981" y="530">6-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-532" x="1030" y="399" width="80" height="48"/>
          <text x="1070" y="423">7-532</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-532" x="1030" y="442" width="80" height="48"/>
          <text x="1070" y="466">8-532</text>
        </svg>
        
        <svg>
          <rect class="office" id="533" x="1030" y="490" width="80" height="100"/>
          <text x="1070" y="540">533</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-543" x="489" y="590" width="48" height="80"/>
          <text x="513" y="630">1-543</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-543" x="537" y="590" width="48" height="80"/>
          <text x="561" y="630">2-543</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-543" x="585" y="590" width="48" height="80"/>
          <text x="609" y="630">3-543</text>
        </svg>
        <svg>
          <rect class="office" id="542" x="633" y="590" width="63" height="80"/>
          <text x="664" y="630">542</text>
        </svg>
        <svg>
          <rect class="office" id="541" x="696" y="590" width="63" height="80"/>
          <text x="727" y="630">541</text>
        </svg>
        <svg>
          <rect class="office" id="540" x="759" y="590" width="90" height="80"/>
          <text x="804" y="630">540</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-545" x="280" y="590" width="48" height="80"/>
          <text x="304" y="630">1-545</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-545" x="328" y="590" width="48" height="80"/>
          <text x="352" y="630">2-545</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-545" x="376" y="590" width="48" height="80"/>
          <text x="400" y="630">3-545</text>
        </svg>
        <svg>
          <rect class="office" id="549" x="214" y="590" width="66" height="80"/>
          <text x="247" y="630">549</text>
        </svg>
        <svg>
          <rect class="office" id="214" x="147" y="590" width="67" height="80"/>
          <text x="180" y="630">550</text>
        </svg>
        <svg>
          <rect class="office" id="551" x="80" y="590" width="67" height="80"/>
          <text x="113" y="630">551</text>
        </svg>
        <svg>
          <rect class="office" id="552" y="552" width="80" height="118"/>
          <text x="40" y="611">552</text>
        </svg>
        <svg>
          <rect class="office" id="553" y="460" width="80" height="92"/>
          <text x="40" y="506">553</text>
        </svg>
        <svg>
          <rect class="office" id="554" y="398" width="80" height="62"/>
          <text x="40" y="429">554</text>
        </svg>
        <svg>
          <rect class="office" id="555" y="336" width="80" height="62"/>
          <text x="40" y="367">555</text>
        </svg>
        <svg>
          <rect class="office" id="556" y="246" width="80" height="90"/>
          <text x="40" y="291">556</text>
        </svg>

        <svg>
          <rect class="desk" id="1-530" x="865" y="110" width="40" height="30"/>
          <text x="885" y="125">1-530</text>
        </svg>
        <svg>
          <rect class="desk" id="2-530" x="905" y="110" width="40" height="30"/>
          <text x="925" y="125">2-530</text>
        </svg>
        <svg>
          <rect class="desk" id="3-530" x="945" y="110" width="40" height="30"/>
          <text x="965" y="125">3-530</text>
        </svg>
        <svg>
          <rect class="desk" id="10-530" x="865" y="140" width="40" height="30"/>
          <text x="885" y="155">10-530</text>
        </svg>
        <svg>
          <rect class="desk" id="11-530" x="905" y="140" width="40" height="30"/>
          <text x="925" y="155">11-530</text>
        </svg>
        <svg>
          <rect class="desk" id="12-530" x="945" y="140" width="40" height="30"/>
          <text x="965" y="155">12-530</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-559" x="105" y="185" width="48" height="86"/>
          <text x="129" y="228">4-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-559" x="153" y="185" width="48" height="43"/>
          <text x="177" y="206">5-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-559" x="201" y="185" width="48" height="43"/>
          <text x="225" y="206">6-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-559" x="153" y="228" width="48" height="43"/>
          <text x="177" y="249">7-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-559" x="201" y="228" width="48" height="43"/>
          <text x="225" y="249">8-559</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-561" x="105" y="290" width="48" height="86"/>
          <text x="129" y="333">1-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-561" x="153" y="290" width="48" height="43"/>
          <text x="177" y="311">2-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="12-561" x="201" y="290" width="48" height="43"/>
          <text x="225" y="311">12-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-561" x="153" y="333" width="48" height="43"/>
          <text x="177" y="354">4-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-561" x="201" y="333" width="48" height="43"/>
          <text x="225" y="354">3-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-561" x="105" y="400" width="48" height="86"/>
          <text x="129" y="443">5-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-561" x="153" y="400" width="48" height="43"/>
          <text x="177" y="421">6-561</text>
        </svg>
        <svg>
          <rect class="desk" id="8-561" x="201" y="400" width="48" height="43"/>
          <text x="225" y="421">8-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-561" x="153" y="443" width="48" height="43"/>
          <text x="177" y="464">7-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="11-561" x="201" y="443" width="48" height="43"/>
          <text x="225" y="464">11-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-561" x="105" y="500" width="48" height="43"/>
          <text x="129" y="521">9-561</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-561" x="153" y="500" width="48" height="43"/>
          <text x="177" y="521">10-561</text>
        </svg>

        <svg>
          <rect class="firstaid" id="546" x="300" y="470" width="80" height="85" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="340" y="510">FIRST AID</text>
          <text x="340" y="525">546</text>
        </svg>
        <svg>
          <rect class="phone" id="546" x="240" y="510" width="60" height="45" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="270" y="530">PHONE</text>
          <text x="270" y="545">547</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-510" x="380" y="512" width="48" height="43"/>
          <text x="404" y="533">1-510</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-510" x="428" y="512" width="48" height="43"/>
          <text x="452" y="533">2-510</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-510" x="476" y="512" width="48" height="43"/>
          <text x="500" y="533">3-510</text>
        </svg>
        <svg>
          <rect id="537" x="720" y="410" width="150" height="145" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="790" y="500">PRODUCTION</text>
          <text x="790" y="515">537</text>
        </svg>
        <svg>
          <rect class="empty" x="300" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        
        <svg>
          <rect id="539" x="580" y="470" width="140" height="85" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="650" y="515">EQUIPMENT 539</text>
        </svg>
        <svg>
          <rect class="empty" x="580" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>

      </svg>
    </div>

    <div id="6F" class="tabcontent">
      <svg width="1110" height="670">
        <rect class="floor" width="1110" height="670" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <svg>
          <rect class="office" id="612" x="60" width="87" height="80"/>
          <text x="103" y="40">612</text>
        </svg>
        <svg>
          <rect class="office" id="613" x="147" width="62" height="80"/>
          <text x="178" y="40">613</text>
        </svg>
        <svg>
          <rect class="office" id="614" x="209" width="62" height="80"/>
          <text x="240" y="40">614</text>
        </svg>
        <svg>
          <rect class="office" id="615" x="271" width="93" height="80"/>
          <text x="317" y="40">615</text>
        </svg>
        <svg>
          <rect class="office" id="616" x="364" width="92" height="80"/>
          <text x="410" y="40">616</text>
        </svg>
        <svg>
          <rect class="office" id="617" x="456" width="191" height="80"/>
          <text x="552" y="35">Cloudraker Boardroom</text>
          <text x="552" y="50">617</text>
        </svg>
        <svg>
          <rect class="office" id="618" x="647" width="87" height="80"/>
          <text x="690" y="40">618</text>
        </svg>
        <svg>
          <rect class="office" id="619" x="734" width="87" height="80"/>
          <text x="777" y="40">619</text>
        </svg>
        <svg>
          <rect class="office" id="620" x="821" width="62" height="80"/>
          <text x="852" y="40">620</text>
        </svg>
        <svg>
          <rect class="office" id="621" x="883" width="87" height="80"/>
          <text x="926" y="40">621</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-624" x="556" y="115" width="48" height="43"/>
          <text x="580" y="136">1-624</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-624" x="604" y="115" width="48" height="43"/>
          <text x="628" y="136">2-624</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-624" x="556" y="177" width="48" height="43"/>
          <text x="580" y="198">3-624</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-624" x="604" y="177" width="48" height="43"/>
          <text x="628" y="198">4-624</text>
        </svg>
        <svg>
          <rect class="boardroom" id="625" x="652" y="115" width="82" height="105"/>
          <text x="693" y="152">Skeena</text>
          <text x="693" y="167">Boardroom</text>
          <text x="693" y="182">625</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-626" x="734" y="115" width="48" height="43"/>
          <text x="758" y="136">1-626</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-626" x="779" y="115" width="48" height="43"/>
          <text x="803" y="136">2-626</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-626" x="734" y="177" width="48" height="43"/>
          <text x="758" y="198">3-626</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-626" x="779" y="177" width="48" height="43"/>
          <text x="803" y="198">4-626</text>
        </svg>
       
        <svg>
          <rect class="office" id="623" x="1030" y="64" width="65" height="95"/>
          <text x="1062" y="111">623</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-627" x="859" y="124" width="48" height="43"/>
          <text x="883" y="145">1-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-627" x="907" y="124" width="48" height="43"/>
          <text x="931" y="145">2-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-627" x="955" y="124" width="48" height="43"/>
          <text x="979" y="145">3-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-627" x="859" y="182" width="48" height="43"/>
          <text x="883" y="203">4-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-627" x="907" y="182" width="48" height="43"/>
          <text x="931" y="203">5-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-627" x="955" y="182" width="48" height="43"/>
          <text x="979" y="203">6-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-627" x="955" y="225" width="48" height="43"/>
          <text x="979" y="246">7-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-627" x="1030" y="159" width="80" height="48"/>
          <text x="1070" y="183">10-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="11-627" x="1030" y="207" width="80" height="48"/>
          <text x="1070" y="231">11-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="14-627" x="859" y="225" width="48" height="43"/>
          <text x="883" y="246">14-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="15-627" x="907" y="225" width="48" height="43"/>
          <text x="931" y="246">15-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-627" x="893" y="288" width="48" height="43"/>
          <text x="917" y="309">8-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-627" x="941" y="288" width="48" height="43"/>
          <text x="965" y="309">9-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="12-627" x="1014" y="288" width="48" height="43"/>
          <text x="1038" y="309">12-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="13-627" x="1062" y="288" width="48" height="43"/>
          <text x="1086" y="309">13-627</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-628" x="893" y="331" width="48" height="43"/>
          <text x="917" y="352">1-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-628" x="941" y="331" width="48" height="43"/>
          <text x="965" y="352">2-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-628" x="1014" y="331" width="48" height="43"/>
          <text x="1038" y="352">10-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="11-628" x="1062" y="331" width="48" height="43"/>
          <text x="1086" y="352">11-628</text>
        </svg>

        <svg>
          <rect class="cubicle" id="3-628" x="859" y="395" width="48" height="43"/>
          <text x="883" y="416">3-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-628" x="907" y="395" width="48" height="43"/>
          <text x="931" y="416">4-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-628" x="955" y="395" width="48" height="43"/>
          <text x="979" y="416">5-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-628" x="859" y="438" width="48" height="43"/>
          <text x="883" y="459">7-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-628" x="907" y="438" width="48" height="43"/>
          <text x="931" y="459">8-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-628" x="955" y="438" width="48" height="43"/>
          <text x="979" y="459">6-628</text>
        </svg>
        <svg>
          <rect class="desk" id="9-628" x="871" y="496" width="40" height="30"/>
          <text x="891" y="511">9-628</text>
        </svg>
        <svg>
          <rect class="desk" id="14-628" x="911" y="496" width="40" height="30"/>
          <text x="931" y="511">14-628</text>
        </svg>
        <svg>
          <rect class="desk" id="15-628" x="951" y="496" width="40" height="30"/>
          <text x="971" y="511">15-628</text>
        </svg>
        <svg>
          <rect class="desk" id="16-628" x="871" y="526" width="40" height="30"/>
          <text x="891" y="541">16-628</text>
        </svg>
        <svg>
          <rect class="desk" id="17-628" x="911" y="526" width="40" height="30"/>
          <text x="931" y="541">17-628</text>
        </svg>
        <svg>
          <rect class="desk" id="18-628" x="951" y="526" width="40" height="30"/>
          <text x="971" y="541">18-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="12-628" x="1030" y="399" width="80" height="48"/>
          <text x="1070" y="423">12-628</text>
        </svg>
        <svg>
          <rect class="cubicle" id="13-628" x="1030" y="442" width="80" height="48"/>
          <text x="1070" y="466">13-628</text>
        </svg>
        
        <svg>
          <rect class="office" id="631" x="1030" y="490" width="80" height="100"/>
          <text x="1070" y="540">631</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-636" x="489" y="627" width="48" height="43"/>
          <text x="513" y="648">1-636</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-636" x="537" y="627" width="48" height="43"/>
          <text x="561" y="648">2-636</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-636" x="585" y="627" width="48" height="43"/>
          <text x="609" y="648">3-636</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-635" x="663" y="590" width="48" height="80"/>
          <text x="687" y="630">6-635</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-635" x="711" y="590" width="48" height="80"/>
          <text x="735" y="630">7-635</text>
        </svg>
        <svg>
          <rect class="office" id="634" x="759" y="590" width="90" height="80"/>
          <text x="804" y="630">634</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-637" x="280" y="590" width="48" height="80"/>
          <text x="304" y="630">1-637</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-637" x="328" y="590" width="48" height="80"/>
          <text x="352" y="630">2-637</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-637" x="376" y="590" width="48" height="80"/>
          <text x="400" y="630">3-637</text>
        </svg>
        <svg>
          <rect class="office" id="642" x="214" y="590" width="66" height="80"/>
          <text x="247" y="630">642</text>
        </svg>
        <svg>
          <rect class="office" id="643" x="147" y="590" width="67" height="80"/>
          <text x="180" y="630">643</text>
        </svg>
        <svg>
          <rect class="office" id="644" x="80" y="590" width="67" height="80"/>
          <text x="113" y="630">644</text>
        </svg>
        <svg>
          <rect class="office" id="645" y="552" width="80" height="118"/>
          <text x="40" y="611">645</text>
        </svg>
        <svg>
          <rect class="office" id="647" y="460" width="80" height="92"/>
          <text x="40" y="506">647</text>
        </svg>
        <svg>
          <rect class="office" id="648" y="398" width="80" height="62"/>
          <text x="40" y="429">648</text>
        </svg>
        <svg>
          <rect class="office" id="649" y="336" width="80" height="62"/>
          <text x="40" y="367">649</text>
        </svg>
        <svg>
          <rect class="office" id="650" y="246" width="80" height="90"/>
          <text x="40" y="291">650</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-652" x="105" y="124" width="48" height="43"/>
          <text x="129" y="145">1-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-652" x="153" y="124" width="48" height="43"/>
          <text x="177" y="145">2-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-652" x="201" y="124" width="48" height="43"/>
          <text x="225" y="145">3-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-652" x="105" y="185" width="48" height="86"/>
          <text x="129" y="228">4-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-652" x="153" y="185" width="48" height="43"/>
          <text x="177" y="206">5-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="11-652" x="201" y="185" width="48" height="43"/>
          <text x="225" y="206">11-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-652" x="153" y="228" width="48" height="43"/>
          <text x="177" y="249">7-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="6-652" x="201" y="228" width="48" height="43"/>
          <text x="225" y="249">6-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-652" x="105" y="290" width="48" height="86"/>
          <text x="129" y="333">8-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-652" x="153" y="290" width="48" height="43"/>
          <text x="177" y="311">9-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-652" x="201" y="290" width="48" height="43"/>
          <text x="225" y="311">10-652</text>
        </svg>
        <svg>
          <rect class="cubicle" id="1-651" x="153" y="333" width="48" height="43"/>
          <text x="177" y="354">1-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-651" x="201" y="333" width="48" height="43"/>
          <text x="225" y="354">2-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-651" x="105" y="400" width="48" height="86"/>
          <text x="129" y="443">3-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-651" x="153" y="400" width="48" height="43"/>
          <text x="177" y="421">4-651</text>
        </svg>
        <svg>
          <rect class="desk" id="6-651" x="201" y="400" width="48" height="43"/>
          <text x="225" y="421">6-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-651" x="153" y="443" width="48" height="43"/>
          <text x="177" y="464">5-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="10-651" x="201" y="443" width="48" height="43"/>
          <text x="225" y="464">10-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="7-651" x="105" y="500" width="48" height="43"/>
          <text x="129" y="521">7-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="8-651" x="153" y="500" width="48" height="43"/>
          <text x="177" y="521">8-651</text>
        </svg>
        <svg>
          <rect class="cubicle" id="9-651" x="201" y="500" width="48" height="43"/>
          <text x="225" y="521">9-651</text>
        </svg>

        <svg>
          <rect class="firstaid" id="638" x="285" y="470" width="75" height="80" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)" />
          <text x="322" y="490">PROMO</text>
          <text x="322" y="505">GEAR</text>
          <text x="322" y="520">638</text>
        </svg>

        <svg>
          <rect class="phone" id="639" x="380" y="507" width="48" height="43" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="404" y="528">639</text>
        </svg>
        <svg>
          <rect class="phone" id="640" x="428" y="507" width="48" height="43" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="452" y="528">640</text>
        </svg>
        <svg>
          <rect class="phone" id="641" x="476" y="507" width="48" height="43" style="fill:rgb(141, 141, 172);stroke-width:2;stroke:rgb(0,0,0)"/>
          <text x="500" y="528">641</text>
        </svg>

        <svg>
          <rect class="cubicle" id="1-635" x="580" y="470" width="48" height="80" />
          <text x="604" y="510">1-635</text>
        </svg>
        <svg>
          <rect class="cubicle" id="2-635" x="628" y="470" width="48" height="80" />
          <text x="652" y="510">2-635</text>
        </svg>
        <svg>
          <rect class="cubicle" id="3-635" x="676" y="470" width="48" height="80" />
          <text x="700" y="510">3-635</text>
        </svg>
        <svg>
          <rect class="cubicle" id="4-635" x="724" y="470" width="48" height="80" />
          <text x="748" y="510">4-635</text>
        </svg>
        <svg>
          <rect class="cubicle" id="5-635" x="772" y="470" width="48" height="80" />
          <text x="796" y="510">5-635</text>
        </svg>

        <svg>
          <rect class="empty" x="300" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        <svg>
          <rect class="empty" x="580" y="260" width="220" height="210" style="fill:grey;stroke-width:2;stroke:black" />
        </svg>
        

      </svg>
    </div>
    </div>

    <br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br>
    <script type="text/javascript" src="/public/desksjson.js"></script>
  </body>
</html>
