<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desks On Demand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        <h3>User Page</h3>
                <% noAttributeSpecificDateQueryResults.forEach(function(r) { %>
                    <form method="POST" action="/booking">
                        <ul>
                            <li>
                                <label for="<%= r.tableid %>"><%= r.tableid %></label>
                                <input type="radio" value='<%= r.tableid %>' name="title">
                            </li>
                        </ul>
                    
                        <% }); %>
                        <br>
                        <input type="submit" value="Book">
                    </form>

        <form method="GET" action="/returnToSearch">
            <input type="submit" value="Search again">
        </form>
        
        <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>