<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<h1>PASSWORD MISMATCH</h1>
<form action="/register" method="GET">
    <input type="submit" value="Register">
</form>
</body>
</html>