<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desks On Demand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        <h3>User Page</h3>

            <table>
                <% rangeOfDatesSpecificFloorSpecificAttributeQueryResults.forEach(function(r) { %>
                <tr>
                    <th>Workstation ID</th>
                </tr>
                <tr>
                    <td><%= r.tableid %></td>
                </tr>
                <% }); %>
            </table>

        <form method="GET" action="/returnToSearch">
            <input type="submit" value="Search again">
        </form>
        
        <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>