<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desks On Demand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/mainCSS.css">
    </head>
    <body>
        <h3>User Page</h3>

        <form method="POST" action="/searchTablesSpecificDate">
            
            <label for="Floor">Floor: </label>
            <select name="floor" id="floor">
                <option value="any">Any</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <label for="Date">Date: </label>
            <input type="date" id="specificDate" name="specificDate">
            
            <fieldset style="width: 150px;">
                <legend><u>Additional: </u></legend>

                <label for="Office">Office: </label>
                <input type="checkbox" id="office" name="office" value="true">

                <label for="Window">Window: </label>
                <input type="checkbox" id="window" name="window" value="true">

                <label for="Corner">Corner: </label>
                <input type="checkbox" id="corner" name="corner" value="true"><br>

                <label for="Cubicle">Cubicle: </label>
                <input type="checkbox" id="cubicle" name="cubicle" value="true"><br>

                <label for="single">Single: </label>
                <input type="checkbox" id="single" name="single" value="true"><br>

                <label for="double">Double: </label>
                <input type="checkbox" id="double" name="double" value="true"><br>

            </fieldset>

            <input type="submit" value="Submit">

        </form>
        <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <script src="userPageScripts.js" async defer></script>
    </body>
</html>