<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/stylesheets/mainSS.css">
  </head>
  <body>
    <div class="background">

      <h1>Search for Range of Dates</h1>

    <form method="POST" action="/searchTablesDateRange">
      
        <label for="Floor">Floor: </label>
        <select name="floor" id="floor">
          <option value="any">Any</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>

        <label for="workstationType">Type: </label>
        <select name="workstationType" id="workstationType">

          <option value="any">Any</option>
          <option value="office">Office</option>
          <option value="desk">Desk</option>
          <option value="cubicle">Cubicle</option>
          <option value="Boardroom">Boardroom</option>
          
        </select>

        <label for="Date">From: </label>
        <input type="date" id="fromDate" name="fromDate" required>

        <label for="Date">To: </label>
        <input type="date" id="toDate" name="toDate" required>

      <fieldset>
          <legend><u>Additional: </u></legend>

          <label for="Window">Window: </label>
          <input type="checkbox" id="window" name="window" value="true">

          <label for="Corner">Corner: </label>
          <input type="checkbox" id="corner" name="corner" value="true"><br>

      </fieldset><br>

     

 
      <input type="submit" value="Submit">
    </form>
    <form method="GET" action="/users/dashboard">
      <input type="submit" value="Home">
    </form>
    <form method="GET" action="/bookedworkstations">
      <input type="submit" value="Your Booked Workstations">
    </form>
    </div>
    <br><br>Desks on Demand
    <br><input type="submit" class="button" onclick="location.href='/users/logout';" value="Logout" /><br> 
  </body>
</html>